In [1]:
import pandas as pd
import numpy as np

# 필터링 기준 만들기
1. 교수님 조언 : 3년 연속 순이익이 증가한 기업
2. 시가총액 하위 20% 거르기

# 1. 3년 연속 순이익이 증가한 기업

### 1-1 코스피

In [2]:
# 데이터 로드
ni_kospi = pd.read_csv("./datasets/kospi_영업이익관련(종진형님).csv", encoding='cp949')
ni_kosdaq = pd.read_csv("./datasets/kosdaq_영업이익관련(종진형님).csv", encoding='cp949')

In [3]:
# 코스피 컬럼명 변경
ni_kospi.columns = ['회사명', '거래소코드', '회계년도', '매출총이익(연결)', '당기순이익(연결)', '영업이익(연결)',
       '매출총이익(개별)', '당기순이익(개별)','영업이익(개별)']

In [4]:
# 결측치 확인
ni_kospi.isna().sum()

회사명             0
거래소코드           0
회계년도            0
매출총이익(연결)    2138
당기순이익(연결)    2138
영업이익(연결)     2138
매출총이익(개별)     274
당기순이익(개별)     274
영업이익(개별)      274
dtype: int64

In [5]:
# 연결
ni_kospi_ifrs = ni_kospi[['매출총이익(연결)', '당기순이익(연결)', '영업이익(연결)']]
ni_kospi_ifrs.columns = [['매출총이익', '당기순이익', '영업이익']]
ni_kospi_ifrs

          매출총이익     당기순이익      영업이익
0      155169.0 -183352.0 -136196.0
1     -133770.0 -191153.0 -378472.0
2       91775.0  -97947.0  -43150.0
3       96783.0  -31341.0  -15622.0
4       89251.0  -83047.0   -9611.0
...         ...       ...       ...
10279   -7002.0  -86540.0  -37596.0
10280    5662.0  -51357.0  -12364.0
10281    7346.0  -50876.0   -5798.0
10282    5673.0   16436.0   -1875.0
10283   44960.0   23810.0   29679.0

[10284 rows x 3 columns]

In [6]:
# 개별
ni_kospi_gaap = ni_kospi[['매출총이익(개별)', '당기순이익(개별)','영업이익(개별)']]
ni_kospi_gaap.columns = [['매출총이익', '당기순이익', '영업이익']]
ni_kospi_gaap

          매출총이익     당기순이익      영업이익
0      147283.0 -176443.0 -130420.0
1     -133821.0 -204815.0 -362804.0
2       91177.0  -93084.0  -39984.0
3       96948.0  -32122.0  -14430.0
4       89251.0  -73243.0   -9393.0
...         ...       ...       ...
10279  -19521.0  -96954.0  -40598.0
10280   -1376.0  -52551.0  -14756.0
10281    4981.0  -37398.0   -4228.0
10282    5337.0   15770.0   -1852.0
10283   31283.0   13942.0   25067.0

[10284 rows x 3 columns]

In [7]:
# 회사명 거래소코드 회계년도 따로 저장
ni_kospi_info = ni_kospi[['회사명', '거래소코드', '회계년도']]

In [8]:
# 연결 결측치 개별로 채우는 코드
ni_kospi_combined = ni_kospi_ifrs.combine_first(ni_kospi_gaap)
ni_kospi_combined.isna().sum()

매출총이익    239
당기순이익    239
영업이익     239
dtype: int64

In [9]:
kospi_revenue = pd.concat([ni_kospi_info, ni_kospi_combined], axis=1)
kospi_revenue.columns = ['회사명','거래소코드','회계년도','매출총이익','당기순이익','영업이익']
kospi_revenue

            회사명  거래소코드     회계년도     매출총이익     당기순이익      영업이익
0      (주)DB하이텍    990  2009/12  155169.0 -183352.0 -136196.0
1      (주)DB하이텍    990  2010/12 -133770.0 -191153.0 -378472.0
2      (주)DB하이텍    990  2011/12   91775.0  -97947.0  -43150.0
3      (주)DB하이텍    990  2012/12   96783.0  -31341.0  -15622.0
4      (주)DB하이텍    990  2013/12   89251.0  -83047.0   -9611.0
...         ...    ...      ...       ...       ...       ...
10279   흥아해운(주)   3280  2018/12   -7002.0  -86540.0  -37596.0
10280   흥아해운(주)   3280  2019/12    5662.0  -51357.0  -12364.0
10281   흥아해운(주)   3280  2020/12    7346.0  -50876.0   -5798.0
10282   흥아해운(주)   3280  2021/12    5673.0   16436.0   -1875.0
10283   흥아해운(주)   3280  2022/12   44960.0   23810.0   29679.0

[10284 rows x 6 columns]

### 1-2 코스닥

In [10]:
# 컬럼명 변경
ni_kosdaq.columns = ['회사명', '거래소코드', '회계년도', '매출총이익(연결)', '당기순이익(연결)', '영업이익(연결)',
       '매출총이익(개별)', '당기순이익(개별)','영업이익(개별)']

In [11]:
ni_kosdaq.isna().sum()

회사명             0
거래소코드           0
회계년도            0
매출총이익(연결)    7537
당기순이익(연결)    7537
영업이익(연결)     7537
매출총이익(개별)    2382
당기순이익(개별)    2382
영업이익(개별)     2382
dtype: int64

In [12]:
ni_kosdaq_ifrs = ni_kosdaq[['매출총이익(연결)', '당기순이익(연결)', '영업이익(연결)']]
ni_kosdaq_ifrs.columns = [['매출총이익', '당기순이익', '영업이익']]
ni_kosdaq_ifrs

        매출총이익   당기순이익    영업이익
0         NaN     NaN     NaN
1      3133.0 -6945.0 -7537.0
2      7426.0 -1508.0   640.0
3      4607.0 -6660.0 -4206.0
4      7895.0   296.0   791.0
...       ...     ...     ...
20021     NaN     NaN     NaN
20022     NaN     NaN     NaN
20023     NaN     NaN     NaN
20024     NaN     NaN     NaN
20025     NaN     NaN     NaN

[20026 rows x 3 columns]

In [13]:
ni_kosdaq_gaap = ni_kosdaq[['매출총이익(개별)', '당기순이익(개별)','영업이익(개별)']]
ni_kosdaq_gaap.columns = [['매출총이익', '당기순이익', '영업이익']]
ni_kosdaq_gaap

        매출총이익    당기순이익    영업이익
0      2469.0 -18177.0 -8650.0
1      3133.0  -6945.0 -7537.0
2      7426.0  -1264.0   715.0
3      4607.0  -6893.0 -4045.0
4      7815.0    335.0   823.0
...       ...      ...     ...
20021  8317.0   2370.0  1092.0
20022  7744.0   8293.0   501.0
20023  6006.0   4791.0  -494.0
20024  6475.0   1399.0   -29.0
20025  8102.0   2657.0  1360.0

[20026 rows x 3 columns]

In [14]:
ni_kosdaq_info = ni_kosdaq[['회사명', '거래소코드', '회계년도']]

In [15]:
ni_kosdaq_combined = ni_kosdaq_ifrs.combine_first(ni_kosdaq_gaap)
ni_kosdaq_combined

        매출총이익    당기순이익    영업이익
0      2469.0 -18177.0 -8650.0
1      3133.0  -6945.0 -7537.0
2      7426.0  -1508.0   640.0
3      4607.0  -6660.0 -4206.0
4      7895.0    296.0   791.0
...       ...      ...     ...
20021  8317.0   2370.0  1092.0
20022  7744.0   8293.0   501.0
20023  6006.0   4791.0  -494.0
20024  6475.0   1399.0   -29.0
20025  8102.0   2657.0  1360.0

[20026 rows x 3 columns]

In [16]:
kosdaq_revenue = pd.concat([ni_kosdaq_info, ni_kosdaq_combined], axis=1)
kosdaq_revenue.columns = ['회사명','거래소코드','회계년도','매출총이익','당기순이익','영업이익']

In [17]:
revenue = pd.concat([kospi_revenue, kosdaq_revenue], axis=0)

In [18]:
revenue.drop_duplicates(inplace=True)

In [19]:
revenue.drop(labels='매출총이익', axis=1, inplace=True)

In [20]:
# 결측치 제거
revenue.dropna(inplace=True)
revenue

            회사명  거래소코드     회계년도     당기순이익      영업이익
0      (주)DB하이텍    990  2009/12 -183352.0 -136196.0
1      (주)DB하이텍    990  2010/12 -191153.0 -378472.0
2      (주)DB하이텍    990  2011/12  -97947.0  -43150.0
3      (주)DB하이텍    990  2012/12  -31341.0  -15622.0
4      (주)DB하이텍    990  2013/12  -83047.0   -9611.0
...         ...    ...      ...       ...       ...
20021   흥구석유(주)  24060  2018/12    2370.0    1092.0
20022   흥구석유(주)  24060  2019/12    8293.0     501.0
20023   흥구석유(주)  24060  2020/12    4791.0    -494.0
20024   흥구석유(주)  24060  2021/12    1399.0     -29.0
20025   흥구석유(주)  24060  2022/12    2657.0    1360.0

[27740 rows x 5 columns]

In [21]:
revenue['3년당기순이익흑자'] = np.where((revenue['당기순이익'] > 0) &
                            (revenue['당기순이익'].shift(1) > 0) &
                            (revenue['당기순이익'].shift(2) > 0), 1, 0)

In [22]:
revenue['3년영업이익흑자'] = np.where((revenue['영업이익'] > 0) &
                            (revenue['영업이익'].shift(1) > 0) &
                            (revenue['영업이익'].shift(2) > 0), 1, 0)

In [23]:
revenue[revenue['3년당기순이익흑자'] == 1]

            회사명  거래소코드     회계년도     당기순이익      영업이익  3년당기순이익흑자  3년영업이익흑자
8      (주)DB하이텍    990  2017/12  110175.0  143195.0          1         1
9      (주)DB하이텍    990  2018/12   86829.0  112993.0          1         1
10     (주)DB하이텍    990  2019/12  104637.0  181292.0          1         1
11     (주)DB하이텍    990  2020/12  166026.0  239335.0          1         1
12     (주)DB하이텍    990  2021/12  316892.0  399107.0          1         1
...         ...    ...      ...       ...       ...        ...       ...
20021   흥구석유(주)  24060  2018/12    2370.0    1092.0          1         1
20022   흥구석유(주)  24060  2019/12    8293.0     501.0          1         1
20023   흥구석유(주)  24060  2020/12    4791.0    -494.0          1         0
20024   흥구석유(주)  24060  2021/12    1399.0     -29.0          1         0
20025   흥구석유(주)  24060  2022/12    2657.0    1360.0          1         0

[13586 rows x 7 columns]

In [24]:
revenue.reset_index(drop=True, inplace=True)

In [25]:
revenue

            회사명  거래소코드     회계년도     당기순이익      영업이익  3년당기순이익흑자  3년영업이익흑자
0      (주)DB하이텍    990  2009/12 -183352.0 -136196.0          0         0
1      (주)DB하이텍    990  2010/12 -191153.0 -378472.0          0         0
2      (주)DB하이텍    990  2011/12  -97947.0  -43150.0          0         0
3      (주)DB하이텍    990  2012/12  -31341.0  -15622.0          0         0
4      (주)DB하이텍    990  2013/12  -83047.0   -9611.0          0         0
...         ...    ...      ...       ...       ...        ...       ...
27735   흥구석유(주)  24060  2018/12    2370.0    1092.0          1         1
27736   흥구석유(주)  24060  2019/12    8293.0     501.0          1         1
27737   흥구석유(주)  24060  2020/12    4791.0    -494.0          1         0
27738   흥구석유(주)  24060  2021/12    1399.0     -29.0          1         0
27739   흥구석유(주)  24060  2022/12    2657.0    1360.0          1         0

[27740 rows x 7 columns]

# 2. 이상치 처리전 데이터 불러오기

In [26]:
kosdaq = pd.read_csv('./datasets/2.kosdaq_결측치제거완료.csv' ,index_col=0)
kospi = pd.read_csv('./datasets/2.kospi_결측치제거완료.csv', index_col=0)

In [27]:
kosdaqpi = pd.concat([kospi, kosdaq], axis=0)

In [28]:
kosdaqpi.drop_duplicates(subset=['거래소코드', '회계년도'], keep='first', inplace=True)

In [29]:
kosdaqpi[kosdaqpi['회사명'] == '(주)더블유게임즈']

,회사명,거래소코드,회계년도,총자본증가율,유형자산증가율,유동자산증가율,비유동자산증가율,재고자산증가율,자기자본증가율,매출액증가율,...,순운전자본회전률,영업활동현금흐름,투자활동현금흐름,재무활동현금흐름,현금및현금성자산의증가,기업생애주기,통계청 한국표준산업분류 10차(대분류),경영기간,상장기간,label
535,(주)더블유게임즈,192080,2015/12,653.425251,529.487179,655.947217,566.782730,0.0,789.683000,71.831539,...,0.32,38751.0,-267669.0,278893.0,51189.0,성장기,정보통신업,3.0,0.0,0
536,(주)더블유게임즈,192080,2016/12,14.233989,14.969450,-13.451798,1092.574413,0.0,2.713580,27.109979,...,0.41,54254.0,-105880.0,-6392.0,-57476.0,성숙기,정보통신업,4.0,0.0,0
537,(주)더블유게임즈,192080,2017/12,128.208009,69.176262,-67.437696,681.229365,0.0,6.981233,105.187103,...,0.81,82407.0,-596775.0,524599.0,9488.0,성장기,정보통신업,5.0,0.0,0
538,(주)더블유게임즈,192080,2018/12,-0.042018,-7.958115,8.991266,-1.106293,0.0,28.084761,51.250215,...,1.37,156285.0,3432.0,-143120.0,17001.0,Shake-Out,정보통신업,6.0,0.0,0
539,(주)더블유게임즈,192080,2019/12,7.820230,1.308305,52.150115,2.064250,0.0,24.871974,6.384340,...,1.87,164431.0,-50217.0,-110174.0,3998.0,성숙기,정보통신업,7.0,1.0,0
540,(주)더블유게임즈,192080,2020/12,-4.795991,-16.002246,24.619745,-10.490105,0.0,43.379783,28.087933,...,2.48,201818.0,-22760.0,-164800.0,14222.0,성숙기,정보통신업,8.0,2.0,0
541,(주)더블유게임즈,192080,2021/12,35.061432,-3.208556,143.033872,5.964031,0.0,27.690734,-5.183264,...,1.38,189499.0,-183962.0,118255.0,123856.0,성장기,정보통신업,9.0,3.0,0

In [30]:
df = pd.merge(revenue, kosdaqpi, how = 'left', on=['회사명','거래소코드', '회계년도'])
df

,회사명,거래소코드,회계년도,당기순이익,영업이익,3년당기순이익흑자,3년영업이익흑자,총자본증가율,유형자산증가율,유동자산증가율,...,순운전자본회전률,영업활동현금흐름,투자활동현금흐름,재무활동현금흐름,현금및현금성자산의증가,기업생애주기,통계청 한국표준산업분류 10차(대분류),경영기간,상장기간,label
0,(주)DB하이텍,990,2009/12,-183352.0,-136196.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)DB하이텍,990,2010/12,-191153.0,-378472.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)DB하이텍,990,2011/12,-97947.0,-43150.0,0,0,-13.191447,-7.891077,-10.081970,...,0.72,60749.0,-23348.0,-88776.0,-52752.0,성숙기,제조업,58.0,37.0,0.0
3,(주)DB하이텍,990,2012/12,-31341.0,-15622.0,0,0,-3.443493,-9.686758,10.516720,...,0.61,73877.0,-49272.0,-22718.0,-107.0,성숙기,제조업,59.0,38.0,0.0
4,(주)DB하이텍,990,2013/12,-83047.0,-9611.0,0,0,-8.582386,-7.200145,-27.877947,...,0.63,28381.0,-14426.0,-18090.0,-4695.0,성숙기,제조업,60.0,39.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27735,흥구석유(주),24060,2018/12,2370.0,1092.0,1,1,-5.888978,-0.359446,-21.190176,...,8.08,5043.0,4839.0,-7453.0,2429.0,Shake-Out,도매 및 소매업,52.0,25.0,0.0
27736,흥구석유(주),24060,2019/12,8293.0,501.0,1,1,11.242454,-7.005305,80.743108,...,6.91,731.0,-181.0,-2249.0,-1699.0,성숙기,도매 및 소매업,53.0,26.0,0.0
27737,흥구석유(주),24060,2020/12,4791.0,-494.0,1,0,0.071718,-13.916541,22.404951,...,4.00,1721.0,17.0,-2643.0,-905.0,Shake-Out,도매 및 소매업,54.0,27.0,0.0
27738,흥구석유(주),24060,2021/12,1399.0,-29.0,1,0,-1.282832,0.629556,-4.236492,...,4.44,-587.0,2558.0,-2457.0,-486.0,쇠퇴기,도매 및 소매업,55.0,28.0,0.0
27739,흥구석유(주),24060,2022/12,2657.0,1360.0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# 결과창 늘려주는 코드 시작
pd.set_option('display.max_rows',None)
df.isna().sum()

회사명                         0
거래소코드                       0
회계년도                        0
당기순이익                       0
영업이익                        0
3년당기순이익흑자                   0
3년영업이익흑자                    0
총자본증가율                   8211
유형자산증가율                  8211
유동자산증가율                  8211
비유동자산증가율                 8211
재고자산증가율                  8211
자기자본증가율                  8211
매출액증가율                   8211
매출총이익증가율                 8211
당기순이익증가율                 8211
정상영업손익증가율                8211
매출액총이익률                  8211
매출액순이익률                  8211
총자본순이익률                  8211
자기자본순이익률                 8211
매출원가대매출액비율               8211
영업비용대영업수익비율              8211
기업순이익률                   8211
금융비용대총비용비율               8211
이자부담률                    8211
1주당매출액                   8211
1주당순이익                   8211
1주당CASHFLOW              8211
1주당정상영업이익                8211
유동자산구성비율                 8211
재고자산대유동자산비율              8211
유동자산대비유동자산비율             8211
당좌자산구성비율                 8211
비유동자산구성비율                8211
자기자본구성비율                 8211
타인자본구성비율                 8211
비유동비율                    8211
유동비율                     8211
당좌비율                     8211
현금비율                     8211
매입채무대재고자산비율              8211
부채비율                     8211
유동부채비율                   8211
단기차입금대총차입금비율             8211
순운전자본비율                  8211
차입금비율                    8211
CASHFLOW대부채비율            8211
CASHFLOW대차입금비율           8211
CASHFLOW대총자본비율           8211
CASHFLOW대매출액비율           8211
총자본회전률                   8211
자기자본회전률                  8211
타인자본회전률                  8211
매입채무회전률                  8211
유동자산회전률                  8211
당좌자산회전률                  8211
재고자산회전률                  8211
매출채권회전률                  8211
유형자산회전율                  8211
순운전자본회전률                 8211
영업활동현금흐름                 8211
투자활동현금흐름                 8211
재무활동현금흐름                 8211
현금및현금성자산의증가              8211
기업생애주기                   8211
통계청 한국표준산업분류 10차(대분류)    8211
경영기간                     8211
상장기간                     8211
label                    8211
dtype: int64

In [32]:
# 결과창 늘려주는 코드 종료
pd.reset_option('display.max_rows', None)

In [33]:
df = df[~df['총자본증가율'].isna()]
df.reset_index(drop=True, inplace=True)

In [34]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19529 entries, 0 to 19528
Data columns (total 70 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   회사명                    19529 non-null  object
 1   거래소코드                  19529 non-null  int64
 2   회계년도                   19529 non-null  object
 3   당기순이익                  19529 non-null  float64
 4   영업이익                   19529 non-null  float64
 5   3년당기순이익흑자              19529 non-null  int32
 6   3년영업이익흑자               19529 non-null  int32
 7   총자본증가율                 19529 non-null  float64
 8   유형자산증가율                19529 non-null  float64
 9   유동자산증가율                19529 non-null  float64
 10  비유동자산증가율               19529 non-null  float64
 11  재고자산증가율                19529 non-null  float64
 12  자기자본증가율                19529 non-null  float64
 13  매출액증가율                 19529 non-null  float64
 14  매출총이익증가율               19529 non-null  float64
 15  당기순이익증가율               19529 non-null  float64
 16  정상영업손익증가율              19529 non-null  float64
 17  매출액총이익률                19529 non-null  float64
 18  매출액순이익률                19529 non-null  float64
 19  총자본순이익률                19529 non-null  float64
 20  자기자본순이익률               19529 non-null  float64
 21  매출원가대매출액비율             19529 non-null  float64
 22  영업비용대영업수익비율            19529 non-null  float64
 23  기업순이익률                 19529 non-null  float64
 24  금융비용대총비용비율             19529 non-null  float64
 25  이자부담률                  19529 non-null  float64
 26  1주당매출액                 19529 non-null  float64
 27  1주당순이익                 19529 non-null  float64
 28  1주당CASHFLOW            19529 non-null  float64
 29  1주당정상영업이익              19529 non-null  float64
 30  유동자산구성비율               19529 non-null  float64
 31  재고자산대유동자산비율            19529 non-null  float64
 32  유동자산대비유동자산비율           19529 non-null  float64
 33  당좌자산구성비율               19529 non-null  float64
 34  비유동자산구성비율              19529 non-null  float64
 35  자기자본구성비율               19529 non-null  float64
 36  타인자본구성비율               19529 non-null  float64
 37  비유동비율                  19529 non-null  float64
 38  유동비율                   19529 non-null  float64
 39  당좌비율                   19529 non-null  float64
 40  현금비율                   19529 non-null  float64
 41  매입채무대재고자산비율            19529 non-null  float64
 42  부채비율                   19529 non-null  float64
 43  유동부채비율                 19529 non-null  float64
 44  단기차입금대총차입금비율           19529 non-null  float64
 45  순운전자본비율                19529 non-null  float64
 46  차입금비율                  19529 non-null  float64
 47  CASHFLOW대부채비율          19529 non-null  float64
 48  CASHFLOW대차입금비율         19529 non-null  float64
 49  CASHFLOW대총자본비율         19529 non-null  float64
 50  CASHFLOW대매출액비율         19529 non-null  float64
 51  총자본회전률                 19529 non-null  float64
 52  자기자본회전률                19529 non-null  float64
 53  타인자본회전률                19529 non-null  float64
 54  매입채무회전률                19529 non-null  float64
 55  유동자산회전률                19529 non-null  float64
 56  당좌자산회전률                19529 non-null  float64
 57  재고자산회전률                19529 non-null  float64
 58  매출채권회전률                19529 non-null  float64
 59  유형자산회전율                19529 non-null  float64
 60  순운전자본회전률               19529 non-null  float64
 61  영업활동현금흐름               19529 non-null  float64
 62  투자활동현금흐름               19529 non-null  float64
 63  재무활동현금흐름               19529 non-null  float64
 64  현금및현금성자산의증가            19529 non-null  float64
 65  기업생애주기                 19529 non-null  object
 66  통계청 한국표준산업분류 10차(대분류)  19529 non-null  object
 67  경영기간                   19529 non-null  float64
 68  상장기간                   19529 non-null  float64
 69  label                  19529 non-null  float64
dtypes: float64(63), int32(2), int64(1), object(4)
memory usage: 10.3+ MB

In [35]:
filtered = df[df['3년영업이익흑자'] == 1]
filtered

,회사명,거래소코드,회계년도,당기순이익,영업이익,3년당기순이익흑자,3년영업이익흑자,총자본증가율,유형자산증가율,유동자산증가율,...,순운전자본회전률,영업활동현금흐름,투자활동현금흐름,재무활동현금흐름,현금및현금성자산의증가,기업생애주기,통계청 한국표준산업분류 10차(대분류),경영기간,상장기간,label
5,(주)DB하이텍,990,2016/12,88344.0,172428.0,0,1,0.217845,2.731178,9.227640,...,1.26,248312.0,-121032.0,-118530.0,7447.0,성숙기,제조업,63.0,42.0,0.0
6,(주)DB하이텍,990,2017/12,110175.0,143195.0,1,1,0.725788,1.436185,-4.136624,...,1.19,183124.0,-101904.0,-85791.0,-8085.0,성숙기,제조업,64.0,43.0,0.0
7,(주)DB하이텍,990,2018/12,86829.0,112993.0,1,1,7.302473,7.560384,8.402349,...,1.29,180344.0,-117302.0,-50895.0,11612.0,성숙기,제조업,65.0,44.0,0.0
8,(주)DB하이텍,990,2019/12,104637.0,181292.0,1,1,2.096136,3.180213,11.185798,...,1.36,161078.0,-123955.0,-70941.0,-34329.0,성숙기,제조업,66.0,45.0,0.0
9,(주)DB하이텍,990,2020/12,166026.0,239335.0,1,1,8.236920,9.424659,7.728797,...,1.37,309983.0,-265310.0,-75975.0,-36483.0,성숙기,제조업,67.0,46.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19519,흥구석유(주),24060,2012/12,1439.0,739.0,1,1,-1.142093,-0.522513,-2.593840,...,10.79,1381.0,116.0,-1764.0,-267.0,Shake-Out,도매 및 소매업,46.0,19.0,0.0
19523,흥구석유(주),24060,2016/12,2178.0,964.0,1,1,1.387501,-5.613435,7.358491,...,8.24,1116.0,-2297.0,93.0,-1088.0,성장기,도매 및 소매업,50.0,23.0,0.0
19524,흥구석유(주),24060,2017/12,2065.0,751.0,1,1,0.979314,-0.565031,7.340814,...,7.20,1558.0,58.0,-1468.0,148.0,Shake-Out,도매 및 소매업,51.0,24.0,0.0
19525,흥구석유(주),24060,2018/12,2370.0,1092.0,1,1,-5.888978,-0.359446,-21.190176,...,8.08,5043.0,4839.0,-7453.0,2429.0,Shake-Out,도매 및 소매업,52.0,25.0,0.0
19526,흥구석유(주),24060,2019/12,8293.0,501.0,1,1,11.242454,-7.005305,80.743108,...,6.91,731.0,-181.0,-2249.0,-1699.0,성숙기,도매 및 소매업,53.0,26.0,0.0

In [36]:
filtered = filtered[['회사명','거래소코드','회계년도','총자본증가율','총자본순이익률','자기자본순이익률','매출원가대매출액비율','금융비용대총비용비율',
 '자기자본구성비율','순운전자본비율','CASHFLOW대총자본비율','순운전자본회전률']]
filtered

,회사명,거래소코드,회계년도,총자본증가율,총자본순이익률,자기자본순이익률,매출원가대매출액비율,금융비용대총비용비율,자기자본구성비율,순운전자본비율,CASHFLOW대총자본비율,순운전자본회전률
5,(주)DB하이텍,990,2016/12,0.217845,8.96,29.65,62.49,5.84,34.65,9.60,20.32,1.26
6,(주)DB하이텍,990,2017/12,0.725788,11.12,27.62,62.70,3.79,45.86,20.97,21.70,1.19
7,(주)DB하이텍,990,2018/12,7.302473,8.43,17.12,67.83,2.26,52.36,21.24,17.04,1.29
8,(주)DB하이텍,990,2019/12,2.096136,9.71,17.40,63.57,1.55,59.20,18.97,15.68,1.36
9,(주)DB하이텍,990,2020/12,8.236920,14.64,23.07,61.65,0.62,67.42,16.76,19.98,1.37
...,...,...,...,...,...,...,...,...,...,...,...,...
19519,흥구석유(주),24060,2012/12,-1.142093,1.91,2.26,96.91,0.05,86.00,8.60,4.12,10.79
19523,흥구석유(주),24060,2016/12,1.387501,2.77,3.17,94.67,0.02,87.41,14.15,3.55,8.24
19524,흥구석유(주),24060,2017/12,0.979314,2.60,2.97,94.93,0.07,87.29,8.68,1.67,7.20
19525,흥구석유(주),24060,2018/12,-5.888978,3.06,3.38,95.00,-0.01,93.67,11.59,4.39,8.08
19526,흥구석유(주),24060,2019/12,11.242454,10.44,11.25,94.86,-0.12,92.04,21.47,3.45,6.91

In [37]:
filtered.reset_index(drop=True, inplace=True)

In [38]:
filtered

,회사명,거래소코드,회계년도,총자본증가율,총자본순이익률,자기자본순이익률,매출원가대매출액비율,금융비용대총비용비율,자기자본구성비율,순운전자본비율,CASHFLOW대총자본비율,순운전자본회전률
0,(주)DB하이텍,990,2016/12,0.217845,8.96,29.65,62.49,5.84,34.65,9.60,20.32,1.26
1,(주)DB하이텍,990,2017/12,0.725788,11.12,27.62,62.70,3.79,45.86,20.97,21.70,1.19
2,(주)DB하이텍,990,2018/12,7.302473,8.43,17.12,67.83,2.26,52.36,21.24,17.04,1.29
3,(주)DB하이텍,990,2019/12,2.096136,9.71,17.40,63.57,1.55,59.20,18.97,15.68,1.36
4,(주)DB하이텍,990,2020/12,8.236920,14.64,23.07,61.65,0.62,67.42,16.76,19.98,1.37
...,...,...,...,...,...,...,...,...,...,...,...,...
11774,흥구석유(주),24060,2012/12,-1.142093,1.91,2.26,96.91,0.05,86.00,8.60,4.12,10.79
11775,흥구석유(주),24060,2016/12,1.387501,2.77,3.17,94.67,0.02,87.41,14.15,3.55,8.24
11776,흥구석유(주),24060,2017/12,0.979314,2.60,2.97,94.93,0.07,87.29,8.68,1.67,7.20
11777,흥구석유(주),24060,2018/12,-5.888978,3.06,3.38,95.00,-0.01,93.67,11.59,4.39,8.08
11778,흥구석유(주),24060,2019/12,11.242454,10.44,11.25,94.86,-0.12,92.04,21.47,3.45,6.91

# 3. 시가총액 붙이기

In [39]:
시가총액 = pd.read_csv('./datasets/kospi+kosdaq_시가총액.csv', index_col=0)
시가총액

       거래소코드     회계년도       종가      상장주식수             시가총액
0     005930  2011/12  1058000  147299337  155842698546000
0     005930  2012/12  1522000  147299337  224189590914000
0     005930  2013/12  1372000  147299337  202094690364000
0     005930  2014/12  1327000  147299337  195466220199000
0     005930  2015/12  1260000  147299337  185597164620000
...      ...      ...      ...        ...              ...
2605  267810  2021/12     1425    1547000       2204475000
2606  329020  2021/12     2700     800000       2160000000
2607  225850  2021/12      283    4998499       1414575217
2608  221610  2021/12      207    6654797       1377542979
2609  225860  2021/12       75   17037138       1277785350

[24631 rows x 5 columns]

In [40]:
# 종목코드를 6자리로 통일. ex) 990 -> 000990
def padding(x):
    x = str(x)
    return x.rjust(6, "0")

In [41]:
filtered['거래소코드'] = filtered['거래소코드'].map(padding)

C:\Users\Hong\AppData\Local\Temp\ipykernel_3700\2633871692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['거래소코드'] = filtered['거래소코드'].map(padding)

In [42]:
merge_df = pd.merge(filtered, 시가총액, how='left', on=['거래소코드', '회계년도'])
merge_df

,회사명,거래소코드,회계년도,총자본증가율,총자본순이익률,자기자본순이익률,매출원가대매출액비율,금융비용대총비용비율,자기자본구성비율,순운전자본비율,CASHFLOW대총자본비율,순운전자본회전률,종가,상장주식수,시가총액
0,(주)DB하이텍,000990,2016/12,0.217845,8.96,29.65,62.49,5.84,34.65,9.60,20.32,1.26,15900,44367832,705448528800
1,(주)DB하이텍,000990,2017/12,0.725788,11.12,27.62,62.70,3.79,45.86,20.97,21.70,1.19,12000,44367832,532413984000
2,(주)DB하이텍,000990,2018/12,7.302473,8.43,17.12,67.83,2.26,52.36,21.24,17.04,1.29,10850,44398588,481724679800
3,(주)DB하이텍,000990,2019/12,2.096136,9.71,17.40,63.57,1.55,59.20,18.97,15.68,1.36,27600,44398588,1225401028800
4,(주)DB하이텍,000990,2020/12,8.236920,14.64,23.07,61.65,0.62,67.42,16.76,19.98,1.37,51000,44398588,2264327988000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11774,흥구석유(주),024060,2012/12,-1.142093,1.91,2.26,96.91,0.05,86.00,8.60,4.12,10.79,1585,15000000,23775000000
11775,흥구석유(주),024060,2016/12,1.387501,2.77,3.17,94.67,0.02,87.41,14.15,3.55,8.24,3425,15000000,51375000000
11776,흥구석유(주),024060,2017/12,0.979314,2.60,2.97,94.93,0.07,87.29,8.68,1.67,7.20,2775,15000000,41625000000
11777,흥구석유(주),024060,2018/12,-5.888978,3.06,3.38,95.00,-0.01,93.67,11.59,4.39,8.08,2705,15000000,40575000000
11778,흥구석유(주),024060,2019/12,11.242454,10.44,11.25,94.86,-0.12,92.04,21.47,3.45,6.91,5360,15000000,80400000000

In [43]:
merge_df.drop(columns=['종가','상장주식수'], axis=1, inplace=True)
merge_df

,회사명,거래소코드,회계년도,총자본증가율,총자본순이익률,자기자본순이익률,매출원가대매출액비율,금융비용대총비용비율,자기자본구성비율,순운전자본비율,CASHFLOW대총자본비율,순운전자본회전률,시가총액
0,(주)DB하이텍,000990,2016/12,0.217845,8.96,29.65,62.49,5.84,34.65,9.60,20.32,1.26,705448528800
1,(주)DB하이텍,000990,2017/12,0.725788,11.12,27.62,62.70,3.79,45.86,20.97,21.70,1.19,532413984000
2,(주)DB하이텍,000990,2018/12,7.302473,8.43,17.12,67.83,2.26,52.36,21.24,17.04,1.29,481724679800
3,(주)DB하이텍,000990,2019/12,2.096136,9.71,17.40,63.57,1.55,59.20,18.97,15.68,1.36,1225401028800
4,(주)DB하이텍,000990,2020/12,8.236920,14.64,23.07,61.65,0.62,67.42,16.76,19.98,1.37,2264327988000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11774,흥구석유(주),024060,2012/12,-1.142093,1.91,2.26,96.91,0.05,86.00,8.60,4.12,10.79,23775000000
11775,흥구석유(주),024060,2016/12,1.387501,2.77,3.17,94.67,0.02,87.41,14.15,3.55,8.24,51375000000
11776,흥구석유(주),024060,2017/12,0.979314,2.60,2.97,94.93,0.07,87.29,8.68,1.67,7.20,41625000000
11777,흥구석유(주),024060,2018/12,-5.888978,3.06,3.38,95.00,-0.01,93.67,11.59,4.39,8.08,40575000000
11778,흥구석유(주),024060,2019/12,11.242454,10.44,11.25,94.86,-0.12,92.04,21.47,3.45,6.91,80400000000

In [44]:
merge_df.to_csv('./datasets/투자/KOSDAQ+KOSPI_DATA(투자).csv')

# 3년연속 흑자기업 선별 + 시가총액 컬럼 생성 완료