In [73]:
import pandas as pd
import numpy as np

# 필터링 기준 만들기
1. 교수님 조언 : 3년 연속 순이익이 증가한 기업
2. 시가총액 하위 20% 거르기

# 1. 3년 연속 순이익이 증가한 기업

### 1-1 코스피

In [74]:
# 데이터 로드
ni_kospi = pd.read_csv("./datasets/kospi_영업이익관련(종진형님).csv", encoding='cp949')
ni_kosdaq = pd.read_csv("./datasets/kosdaq_영업이익관련(종진형님).csv", encoding='cp949')

In [75]:
# 코스피 컬럼명 변경
ni_kospi.columns = ['회사명', '거래소코드', '회계년도', '매출총이익(연결)', '당기순이익(연결)', '영업이익(연결)',
       '매출총이익(개별)', '당기순이익(개별)','영업이익(개별)']

In [76]:
# 결측치 확인
ni_kospi.isna().sum()

회사명             0
거래소코드           0
회계년도            0
매출총이익(연결)    2138
당기순이익(연결)    2138
영업이익(연결)     2138
매출총이익(개별)     274
당기순이익(개별)     274
영업이익(개별)      274
dtype: int64

In [77]:
# 연결
ni_kospi_ifrs = ni_kospi[['매출총이익(연결)', '당기순이익(연결)', '영업이익(연결)']]
ni_kospi_ifrs.columns = [['매출총이익', '당기순이익', '영업이익']]
ni_kospi_ifrs

          매출총이익     당기순이익      영업이익
0      155169.0 -183352.0 -136196.0
1     -133770.0 -191153.0 -378472.0
2       91775.0  -97947.0  -43150.0
3       96783.0  -31341.0  -15622.0
4       89251.0  -83047.0   -9611.0
...         ...       ...       ...
10279   -7002.0  -86540.0  -37596.0
10280    5662.0  -51357.0  -12364.0
10281    7346.0  -50876.0   -5798.0
10282    5673.0   16436.0   -1875.0
10283   44960.0   23810.0   29679.0

[10284 rows x 3 columns]

In [78]:
# 개별
ni_kospi_gaap = ni_kospi[['매출총이익(개별)', '당기순이익(개별)','영업이익(개별)']]
ni_kospi_gaap.columns = [['매출총이익', '당기순이익', '영업이익']]
ni_kospi_gaap

          매출총이익     당기순이익      영업이익
0      147283.0 -176443.0 -130420.0
1     -133821.0 -204815.0 -362804.0
2       91177.0  -93084.0  -39984.0
3       96948.0  -32122.0  -14430.0
4       89251.0  -73243.0   -9393.0
...         ...       ...       ...
10279  -19521.0  -96954.0  -40598.0
10280   -1376.0  -52551.0  -14756.0
10281    4981.0  -37398.0   -4228.0
10282    5337.0   15770.0   -1852.0
10283   31283.0   13942.0   25067.0

[10284 rows x 3 columns]

In [79]:
# 회사명 거래소코드 회계년도 따로 저장
ni_kospi_info = ni_kospi[['회사명', '거래소코드', '회계년도']]

In [80]:
# 연결 결측치 개별로 채우는 코드
ni_kospi_combined = ni_kospi_ifrs.combine_first(ni_kospi_gaap)
ni_kospi_combined.isna().sum()

매출총이익    239
당기순이익    239
영업이익     239
dtype: int64

In [81]:
kospi_revenue = pd.concat([ni_kospi_info, ni_kospi_combined], axis=1)
kospi_revenue.columns = ['회사명','거래소코드','회계년도','매출총이익','당기순이익','영업이익']
kospi_revenue

            회사명  거래소코드     회계년도     매출총이익     당기순이익      영업이익
0      (주)DB하이텍    990  2009/12  155169.0 -183352.0 -136196.0
1      (주)DB하이텍    990  2010/12 -133770.0 -191153.0 -378472.0
2      (주)DB하이텍    990  2011/12   91775.0  -97947.0  -43150.0
3      (주)DB하이텍    990  2012/12   96783.0  -31341.0  -15622.0
4      (주)DB하이텍    990  2013/12   89251.0  -83047.0   -9611.0
...         ...    ...      ...       ...       ...       ...
10279   흥아해운(주)   3280  2018/12   -7002.0  -86540.0  -37596.0
10280   흥아해운(주)   3280  2019/12    5662.0  -51357.0  -12364.0
10281   흥아해운(주)   3280  2020/12    7346.0  -50876.0   -5798.0
10282   흥아해운(주)   3280  2021/12    5673.0   16436.0   -1875.0
10283   흥아해운(주)   3280  2022/12   44960.0   23810.0   29679.0

[10284 rows x 6 columns]

### 1-2 코스닥

In [82]:
# 컬럼명 변경
ni_kosdaq.columns = ['회사명', '거래소코드', '회계년도', '매출총이익(연결)', '당기순이익(연결)', '영업이익(연결)',
       '매출총이익(개별)', '당기순이익(개별)','영업이익(개별)']

In [83]:
ni_kosdaq.isna().sum()

회사명             0
거래소코드           0
회계년도            0
매출총이익(연결)    7537
당기순이익(연결)    7537
영업이익(연결)     7537
매출총이익(개별)    2382
당기순이익(개별)    2382
영업이익(개별)     2382
dtype: int64

In [84]:
ni_kosdaq_ifrs = ni_kosdaq[['매출총이익(연결)', '당기순이익(연결)', '영업이익(연결)']]
ni_kosdaq_ifrs.columns = [['매출총이익', '당기순이익', '영업이익']]
ni_kosdaq_ifrs

        매출총이익   당기순이익    영업이익
0         NaN     NaN     NaN
1      3133.0 -6945.0 -7537.0
2      7426.0 -1508.0   640.0
3      4607.0 -6660.0 -4206.0
4      7895.0   296.0   791.0
...       ...     ...     ...
20021     NaN     NaN     NaN
20022     NaN     NaN     NaN
20023     NaN     NaN     NaN
20024     NaN     NaN     NaN
20025     NaN     NaN     NaN

[20026 rows x 3 columns]

In [85]:
ni_kosdaq_gaap = ni_kosdaq[['매출총이익(개별)', '당기순이익(개별)','영업이익(개별)']]
ni_kosdaq_gaap.columns = [['매출총이익', '당기순이익', '영업이익']]
ni_kosdaq_gaap

        매출총이익    당기순이익    영업이익
0      2469.0 -18177.0 -8650.0
1      3133.0  -6945.0 -7537.0
2      7426.0  -1264.0   715.0
3      4607.0  -6893.0 -4045.0
4      7815.0    335.0   823.0
...       ...      ...     ...
20021  8317.0   2370.0  1092.0
20022  7744.0   8293.0   501.0
20023  6006.0   4791.0  -494.0
20024  6475.0   1399.0   -29.0
20025  8102.0   2657.0  1360.0

[20026 rows x 3 columns]

In [86]:
ni_kosdaq_info = ni_kosdaq[['회사명', '거래소코드', '회계년도']]

In [87]:
ni_kosdaq_combined = ni_kosdaq_ifrs.combine_first(ni_kosdaq_gaap)
ni_kosdaq_combined

        매출총이익    당기순이익    영업이익
0      2469.0 -18177.0 -8650.0
1      3133.0  -6945.0 -7537.0
2      7426.0  -1508.0   640.0
3      4607.0  -6660.0 -4206.0
4      7895.0    296.0   791.0
...       ...      ...     ...
20021  8317.0   2370.0  1092.0
20022  7744.0   8293.0   501.0
20023  6006.0   4791.0  -494.0
20024  6475.0   1399.0   -29.0
20025  8102.0   2657.0  1360.0

[20026 rows x 3 columns]

In [88]:
kosdaq_revenue = pd.concat([ni_kosdaq_info, ni_kosdaq_combined], axis=1)
kosdaq_revenue.columns = ['회사명','거래소코드','회계년도','매출총이익','당기순이익','영업이익']

In [89]:
revenue = pd.concat([kospi_revenue, kosdaq_revenue], axis=0)

In [90]:
revenue.drop_duplicates(inplace=True)

In [91]:
revenue.drop(labels='매출총이익', axis=1, inplace=True)

In [92]:
# 결측치 제거
revenue.dropna(inplace=True)
revenue

            회사명  거래소코드     회계년도     당기순이익      영업이익
0      (주)DB하이텍    990  2009/12 -183352.0 -136196.0
1      (주)DB하이텍    990  2010/12 -191153.0 -378472.0
2      (주)DB하이텍    990  2011/12  -97947.0  -43150.0
3      (주)DB하이텍    990  2012/12  -31341.0  -15622.0
4      (주)DB하이텍    990  2013/12  -83047.0   -9611.0
...         ...    ...      ...       ...       ...
20021   흥구석유(주)  24060  2018/12    2370.0    1092.0
20022   흥구석유(주)  24060  2019/12    8293.0     501.0
20023   흥구석유(주)  24060  2020/12    4791.0    -494.0
20024   흥구석유(주)  24060  2021/12    1399.0     -29.0
20025   흥구석유(주)  24060  2022/12    2657.0    1360.0

[27740 rows x 5 columns]

In [93]:
revenue['3년당기순이익흑자'] = np.where((revenue['당기순이익'] > 0) &
                            (revenue['당기순이익'].shift(1) > 0) &
                            (revenue['당기순이익'].shift(2) > 0), 1, 0)

In [94]:
revenue['3년영업이익흑자'] = np.where((revenue['영업이익'] > 0) &
                            (revenue['영업이익'].shift(1) > 0) &
                            (revenue['영업이익'].shift(2) > 0), 1, 0)

In [95]:
revenue[revenue['3년당기순이익흑자'] == 1]

            회사명  거래소코드     회계년도     당기순이익      영업이익  3년당기순이익흑자  3년영업이익흑자
8      (주)DB하이텍    990  2017/12  110175.0  143195.0          1         1
9      (주)DB하이텍    990  2018/12   86829.0  112993.0          1         1
10     (주)DB하이텍    990  2019/12  104637.0  181292.0          1         1
11     (주)DB하이텍    990  2020/12  166026.0  239335.0          1         1
12     (주)DB하이텍    990  2021/12  316892.0  399107.0          1         1
...         ...    ...      ...       ...       ...        ...       ...
20021   흥구석유(주)  24060  2018/12    2370.0    1092.0          1         1
20022   흥구석유(주)  24060  2019/12    8293.0     501.0          1         1
20023   흥구석유(주)  24060  2020/12    4791.0    -494.0          1         0
20024   흥구석유(주)  24060  2021/12    1399.0     -29.0          1         0
20025   흥구석유(주)  24060  2022/12    2657.0    1360.0          1         0

[13586 rows x 7 columns]

In [96]:
revenue.reset_index(drop=True, inplace=True)

In [97]:
revenue

            회사명  거래소코드     회계년도     당기순이익      영업이익  3년당기순이익흑자  3년영업이익흑자
0      (주)DB하이텍    990  2009/12 -183352.0 -136196.0          0         0
1      (주)DB하이텍    990  2010/12 -191153.0 -378472.0          0         0
2      (주)DB하이텍    990  2011/12  -97947.0  -43150.0          0         0
3      (주)DB하이텍    990  2012/12  -31341.0  -15622.0          0         0
4      (주)DB하이텍    990  2013/12  -83047.0   -9611.0          0         0
...         ...    ...      ...       ...       ...        ...       ...
27735   흥구석유(주)  24060  2018/12    2370.0    1092.0          1         1
27736   흥구석유(주)  24060  2019/12    8293.0     501.0          1         1
27737   흥구석유(주)  24060  2020/12    4791.0    -494.0          1         0
27738   흥구석유(주)  24060  2021/12    1399.0     -29.0          1         0
27739   흥구석유(주)  24060  2022/12    2657.0    1360.0          1         0

[27740 rows x 7 columns]

# 2. 이상치 처리전 데이터 불러오기

In [98]:
kosdaq = pd.read_csv('./datasets/2.kosdaq_결측치제거완료.csv' ,index_col=0)

In [99]:
df = pd.merge(revenue, kosdaq, how = 'left', on=['회사명','거래소코드', '회계년도'])
df

,회사명,거래소코드,회계년도,당기순이익,영업이익,3년당기순이익흑자,3년영업이익흑자,총자본증가율,유형자산증가율,유동자산증가율,...,순운전자본회전률,영업활동현금흐름,투자활동현금흐름,재무활동현금흐름,현금및현금성자산의증가,기업생애주기,통계청 한국표준산업분류 10차(대분류),경영기간,상장기간,label
0,(주)DB하이텍,990,2009/12,-183352.0,-136196.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(주)DB하이텍,990,2010/12,-191153.0,-378472.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(주)DB하이텍,990,2011/12,-97947.0,-43150.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(주)DB하이텍,990,2012/12,-31341.0,-15622.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,(주)DB하이텍,990,2013/12,-83047.0,-9611.0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27735,흥구석유(주),24060,2018/12,2370.0,1092.0,1,1,-5.888978,-0.359446,-21.190176,...,8.08,5043.0,4839.0,-7453.0,2429.0,Shake-Out,도매 및 소매업,52.0,25.0,0.0
27736,흥구석유(주),24060,2019/12,8293.0,501.0,1,1,11.242454,-7.005305,80.743108,...,6.91,731.0,-181.0,-2249.0,-1699.0,성숙기,도매 및 소매업,53.0,26.0,0.0
27737,흥구석유(주),24060,2020/12,4791.0,-494.0,1,0,0.071718,-13.916541,22.404951,...,4.00,1721.0,17.0,-2643.0,-905.0,Shake-Out,도매 및 소매업,54.0,27.0,0.0
27738,흥구석유(주),24060,2021/12,1399.0,-29.0,1,0,-1.282832,0.629556,-4.236492,...,4.44,-587.0,2558.0,-2457.0,-486.0,쇠퇴기,도매 및 소매업,55.0,28.0,0.0
27739,흥구석유(주),24060,2022/12,2657.0,1360.0,1,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
# 결과창 늘려주는 코드 시작
pd.set_option('display.max_rows',None)
df.isna().sum()

회사명                          0
거래소코드                        0
회계년도                         0
당기순이익                        0
영업이익                         0
3년당기순이익흑자                    0
3년영업이익흑자                     0
총자본증가율                   15582
유형자산증가율                  15582
유동자산증가율                  15582
비유동자산증가율                 15582
재고자산증가율                  15582
자기자본증가율                  15582
매출액증가율                   15582
매출총이익증가율                 15582
당기순이익증가율                 15582
정상영업손익증가율                15582
매출액총이익률                  15582
매출액순이익률                  15582
총자본순이익률                  15582
자기자본순이익률                 15582
매출원가대매출액비율               15582
영업비용대영업수익비율              15582
기업순이익률                   15582
금융비용대총비용비율               15582
이자부담률                    15582
1주당매출액                   15582
1주당순이익                   15582
1주당CASHFLOW              15582
1주당정상영업이익                15582
유동자산구성비율                 15582
재고자산대유동자산비율              15582
유동자산대비유동자산비율             15582
당좌자산구성비율                 15582
비유동자산구성비율                15582
자기자본구성비율                 15582
타인자본구성비율                 15582
비유동비율                    15582
유동비율                     15582
당좌비율                     15582
현금비율                     15582
매입채무대재고자산비율              15582
부채비율                     15582
유동부채비율                   15582
단기차입금대총차입금비율             15582
순운전자본비율                  15582
차입금비율                    15582
CASHFLOW대부채비율            15582
CASHFLOW대차입금비율           15582
CASHFLOW대총자본비율           15582
CASHFLOW대매출액비율           15582
총자본회전률                   15582
자기자본회전률                  15582
타인자본회전률                  15582
매입채무회전률                  15582
유동자산회전률                  15582
당좌자산회전률                  15582
재고자산회전률                  15582
매출채권회전률                  15582
유형자산회전율                  15582
순운전자본회전률                 15582
영업활동현금흐름                 15582
투자활동현금흐름                 15582
재무활동현금흐름                 15582
현금및현금성자산의증가              15582
기업생애주기                   15582
통계청 한국표준산업분류 10차(대분류)    15582
경영기간                     15582
상장기간                     15582
label                    15582
dtype: int64

In [101]:
# 결과창 늘려주는 코드 종료
pd.reset_option('display.max_rows', None)

In [102]:
df = df[~df['총자본증가율'].isna()]
df.reset_index(drop=True, inplace=True)

In [103]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12158 entries, 0 to 12157
Data columns (total 70 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   회사명                    12158 non-null  object
 1   거래소코드                  12158 non-null  int64
 2   회계년도                   12158 non-null  object
 3   당기순이익                  12158 non-null  float64
 4   영업이익                   12158 non-null  float64
 5   3년당기순이익흑자              12158 non-null  int32
 6   3년영업이익흑자               12158 non-null  int32
 7   총자본증가율                 12158 non-null  float64
 8   유형자산증가율                12158 non-null  float64
 9   유동자산증가율                12158 non-null  float64
 10  비유동자산증가율               12158 non-null  float64
 11  재고자산증가율                12158 non-null  float64
 12  자기자본증가율                12158 non-null  float64
 13  매출액증가율                 12158 non-null  float64
 14  매출총이익증가율               12158 non-null  float64
 15  당기순이익증가율               12158 non-null  float64
 16  정상영업손익증가율              12158 non-null  float64
 17  매출액총이익률                12158 non-null  float64
 18  매출액순이익률                12158 non-null  float64
 19  총자본순이익률                12158 non-null  float64
 20  자기자본순이익률               12158 non-null  float64
 21  매출원가대매출액비율             12158 non-null  float64
 22  영업비용대영업수익비율            12158 non-null  float64
 23  기업순이익률                 12158 non-null  float64
 24  금융비용대총비용비율             12158 non-null  float64
 25  이자부담률                  12158 non-null  float64
 26  1주당매출액                 12158 non-null  float64
 27  1주당순이익                 12158 non-null  float64
 28  1주당CASHFLOW            12158 non-null  float64
 29  1주당정상영업이익              12158 non-null  float64
 30  유동자산구성비율               12158 non-null  float64
 31  재고자산대유동자산비율            12158 non-null  float64
 32  유동자산대비유동자산비율           12158 non-null  float64
 33  당좌자산구성비율               12158 non-null  float64
 34  비유동자산구성비율              12158 non-null  float64
 35  자기자본구성비율               12158 non-null  float64
 36  타인자본구성비율               12158 non-null  float64
 37  비유동비율                  12158 non-null  float64
 38  유동비율                   12158 non-null  float64
 39  당좌비율                   12158 non-null  float64
 40  현금비율                   12158 non-null  float64
 41  매입채무대재고자산비율            12158 non-null  float64
 42  부채비율                   12158 non-null  float64
 43  유동부채비율                 12158 non-null  float64
 44  단기차입금대총차입금비율           12158 non-null  float64
 45  순운전자본비율                12158 non-null  float64
 46  차입금비율                  12158 non-null  float64
 47  CASHFLOW대부채비율          12158 non-null  float64
 48  CASHFLOW대차입금비율         12158 non-null  float64
 49  CASHFLOW대총자본비율         12158 non-null  float64
 50  CASHFLOW대매출액비율         12158 non-null  float64
 51  총자본회전률                 12158 non-null  float64
 52  자기자본회전률                12158 non-null  float64
 53  타인자본회전률                12158 non-null  float64
 54  매입채무회전률                12158 non-null  float64
 55  유동자산회전률                12158 non-null  float64
 56  당좌자산회전률                12158 non-null  float64
 57  재고자산회전률                12158 non-null  float64
 58  매출채권회전률                12158 non-null  float64
 59  유형자산회전율                12158 non-null  float64
 60  순운전자본회전률               12158 non-null  float64
 61  영업활동현금흐름               12158 non-null  float64
 62  투자활동현금흐름               12158 non-null  float64
 63  재무활동현금흐름               12158 non-null  float64
 64  현금및현금성자산의증가            12158 non-null  float64
 65  기업생애주기                 12158 non-null  object
 66  통계청 한국표준산업분류 10차(대분류)  12158 non-null  object
 67  경영기간                   12158 non-null  float64
 68  상장기간                   12158 non-null  float64
 69  label                  12158 non-null  float64
dtypes: float64(63), int32(2), int64(1), object(4)
memory usage: 6.4+ MB

In [104]:
filtered = df[df['3년영업이익흑자'] == 1]
filtered

,회사명,거래소코드,회계년도,당기순이익,영업이익,3년당기순이익흑자,3년영업이익흑자,총자본증가율,유형자산증가율,유동자산증가율,...,순운전자본회전률,영업활동현금흐름,투자활동현금흐름,재무활동현금흐름,현금및현금성자산의증가,기업생애주기,통계청 한국표준산업분류 10차(대분류),경영기간,상장기간,label
0,(주)더블유게임즈,192080,2015/12,34161.0,31899.0,1,1,653.425251,529.487179,655.947217,...,0.32,38751.0,-267669.0,278893.0,51189.0,성장기,정보통신업,3.0,1.0,0.0
1,(주)더블유게임즈,192080,2016/12,48718.0,44860.0,1,1,14.233989,14.969450,-13.451798,...,0.41,54254.0,-105880.0,-6392.0,-57476.0,성숙기,정보통신업,4.0,2.0,0.0
2,(주)더블유게임즈,192080,2017/12,35642.0,81020.0,1,1,128.208009,69.176262,-67.437696,...,0.81,82407.0,-596775.0,524599.0,9488.0,성장기,정보통신업,5.0,3.0,0.0
3,(주)엘엑스세미콘,108320,2011/12,32877.0,24994.0,1,1,10.913990,-1.956849,10.372237,...,1.10,35911.0,-348.0,-20694.0,15162.0,성숙기,제조업,12.0,2.0,0.0
4,(주)엘엑스세미콘,108320,2012/12,41128.0,43555.0,1,1,25.259973,-0.899254,23.163137,...,1.41,6259.0,-5140.0,-5242.0,-4488.0,성숙기,제조업,13.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12148,흥구석유(주),24060,2012/12,1439.0,739.0,1,1,-1.142093,-0.522513,-2.593840,...,10.79,1381.0,116.0,-1764.0,-267.0,Shake-Out,도매 및 소매업,46.0,19.0,0.0
12152,흥구석유(주),24060,2016/12,2178.0,964.0,1,1,1.387501,-5.613435,7.358491,...,8.24,1116.0,-2297.0,93.0,-1088.0,성장기,도매 및 소매업,50.0,23.0,0.0
12153,흥구석유(주),24060,2017/12,2065.0,751.0,1,1,0.979314,-0.565031,7.340814,...,7.20,1558.0,58.0,-1468.0,148.0,Shake-Out,도매 및 소매업,51.0,24.0,0.0
12154,흥구석유(주),24060,2018/12,2370.0,1092.0,1,1,-5.888978,-0.359446,-21.190176,...,8.08,5043.0,4839.0,-7453.0,2429.0,Shake-Out,도매 및 소매업,52.0,25.0,0.0
12155,흥구석유(주),24060,2019/12,8293.0,501.0,1,1,11.242454,-7.005305,80.743108,...,6.91,731.0,-181.0,-2249.0,-1699.0,성숙기,도매 및 소매업,53.0,26.0,0.0

In [105]:
filtered = filtered[['회사명','거래소코드','회계년도','총자본증가율','총자본순이익률','자기자본순이익률','매출원가대매출액비율','금융비용대총비용비율',
 '자기자본구성비율','순운전자본비율','CASHFLOW대총자본비율','순운전자본회전률','1주당순이익','1주당정상영업이익']]
filtered

,회사명,거래소코드,회계년도,총자본증가율,총자본순이익률,자기자본순이익률,매출원가대매출액비율,금융비용대총비용비율,자기자본구성비율,순운전자본비율,CASHFLOW대총자본비율,순운전자본회전률,1주당순이익,1주당정상영업이익
0,(주)더블유게임즈,192080,2015/12,653.425251,8.93,9.28,0.00,-1.81,96.26,94.21,10.13,0.32,2527.0,2355.44
1,(주)더블유게임즈,192080,2016/12,14.233989,11.15,12.91,0.00,-4.64,86.56,60.73,12.42,0.41,2952.0,2610.46
2,(주)더블유게임즈,192080,2017/12,128.208009,4.97,9.04,0.00,6.07,40.58,-20.29,6.85,0.81,2204.0,4648.98
3,(주)엘엑스세미콘,108320,2011/12,10.913990,12.88,15.45,77.46,-2.27,82.29,73.63,14.32,1.10,2046.0,1536.72
4,(주)엘엑스세미콘,108320,2012/12,25.259973,13.61,17.26,83.41,-1.35,76.08,65.96,6.27,1.41,2628.0,2677.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12148,흥구석유(주),24060,2012/12,-1.142093,1.91,2.26,96.91,0.05,86.00,8.60,4.12,10.79,99.0,49.27
12152,흥구석유(주),24060,2016/12,1.387501,2.77,3.17,94.67,0.02,87.41,14.15,3.55,8.24,150.0,64.25
12153,흥구석유(주),24060,2017/12,0.979314,2.60,2.97,94.93,0.07,87.29,8.68,1.67,7.20,142.0,50.10
12154,흥구석유(주),24060,2018/12,-5.888978,3.06,3.38,95.00,-0.01,93.67,11.59,4.39,8.08,163.0,72.83
12155,흥구석유(주),24060,2019/12,11.242454,10.44,11.25,94.86,-0.12,92.04,21.47,3.45,6.91,570.0,33.38

In [106]:
filtered.reset_index(drop=True, inplace=True)

# 3. 시가총액 붙이기

In [110]:
시가총액 = pd.read_csv('./datasets/kospi+kosdaq_시가총액.csv', index_col=0)
시가총액

       거래소코드     회계년도       종가      상장주식수             시가총액
0     005930  2011/12  1058000  147299337  155842698546000
0     005930  2012/12  1522000  147299337  224189590914000
0     005930  2013/12  1372000  147299337  202094690364000
0     005930  2014/12  1327000  147299337  195466220199000
0     005930  2015/12  1260000  147299337  185597164620000
...      ...      ...      ...        ...              ...
2605  267810  2021/12     1425    1547000       2204475000
2606  329020  2021/12     2700     800000       2160000000
2607  225850  2021/12      283    4998499       1414575217
2608  221610  2021/12      207    6654797       1377542979
2609  225860  2021/12       75   17037138       1277785350

[24631 rows x 5 columns]

In [111]:
# 종목코드를 6자리로 통일. ex) 990 -> 000990
def padding(x):
    x = str(x)
    return x.rjust(6, "0")

In [112]:
filtered['거래소코드'] = filtered['거래소코드'].map(padding)

C:\Users\Hong\AppData\Local\Temp\ipykernel_12980\2633871692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['거래소코드'] = filtered['거래소코드'].map(padding)

In [115]:
merge_df = pd.merge(filtered, 시가총액, how='left', on=['거래소코드', '회계년도'])
merge_df

,회사명,거래소코드,회계년도,총자본증가율,총자본순이익률,자기자본순이익률,매출원가대매출액비율,금융비용대총비용비율,자기자본구성비율,순운전자본비율,CASHFLOW대총자본비율,순운전자본회전률,1주당순이익,1주당정상영업이익,종가,상장주식수,시가총액
0,(주)더블유게임즈,192080,2015/12,653.425251,8.93,9.28,0.00,-1.81,96.26,94.21,10.13,0.32,2527.0,2355.44,50700,17089768,866451237600
1,(주)더블유게임즈,192080,2016/12,14.233989,11.15,12.91,0.00,-4.64,86.56,60.73,12.42,0.41,2952.0,2610.46,39850,17184556,684804556600
2,(주)더블유게임즈,192080,2017/12,128.208009,4.97,9.04,0.00,6.07,40.58,-20.29,6.85,0.81,2204.0,4648.98,51700,17595514,909688073800
3,(주)엘엑스세미콘,108320,2011/12,10.913990,12.88,15.45,77.46,-2.27,82.29,73.63,14.32,1.10,2046.0,1536.72,31200,16264300,507446160000
4,(주)엘엑스세미콘,108320,2012/12,25.259973,13.61,17.26,83.41,-1.35,76.08,65.96,6.27,1.41,2628.0,2677.94,22350,16264300,363507105000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,흥구석유(주),024060,2012/12,-1.142093,1.91,2.26,96.91,0.05,86.00,8.60,4.12,10.79,99.0,49.27,1585,15000000,23775000000
6570,흥구석유(주),024060,2016/12,1.387501,2.77,3.17,94.67,0.02,87.41,14.15,3.55,8.24,150.0,64.25,3425,15000000,51375000000
6571,흥구석유(주),024060,2017/12,0.979314,2.60,2.97,94.93,0.07,87.29,8.68,1.67,7.20,142.0,50.10,2775,15000000,41625000000
6572,흥구석유(주),024060,2018/12,-5.888978,3.06,3.38,95.00,-0.01,93.67,11.59,4.39,8.08,163.0,72.83,2705,15000000,40575000000
6573,흥구석유(주),024060,2019/12,11.242454,10.44,11.25,94.86,-0.12,92.04,21.47,3.45,6.91,570.0,33.38,5360,15000000,80400000000

In [116]:
merge_df.drop(columns=['종가','상장주식수'], axis=1, inplace=True)

In [117]:
merge_df

,회사명,거래소코드,회계년도,총자본증가율,총자본순이익률,자기자본순이익률,매출원가대매출액비율,금융비용대총비용비율,자기자본구성비율,순운전자본비율,CASHFLOW대총자본비율,순운전자본회전률,1주당순이익,1주당정상영업이익,시가총액
0,(주)더블유게임즈,192080,2015/12,653.425251,8.93,9.28,0.00,-1.81,96.26,94.21,10.13,0.32,2527.0,2355.44,866451237600
1,(주)더블유게임즈,192080,2016/12,14.233989,11.15,12.91,0.00,-4.64,86.56,60.73,12.42,0.41,2952.0,2610.46,684804556600
2,(주)더블유게임즈,192080,2017/12,128.208009,4.97,9.04,0.00,6.07,40.58,-20.29,6.85,0.81,2204.0,4648.98,909688073800
3,(주)엘엑스세미콘,108320,2011/12,10.913990,12.88,15.45,77.46,-2.27,82.29,73.63,14.32,1.10,2046.0,1536.72,507446160000
4,(주)엘엑스세미콘,108320,2012/12,25.259973,13.61,17.26,83.41,-1.35,76.08,65.96,6.27,1.41,2628.0,2677.94,363507105000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,흥구석유(주),024060,2012/12,-1.142093,1.91,2.26,96.91,0.05,86.00,8.60,4.12,10.79,99.0,49.27,23775000000
6570,흥구석유(주),024060,2016/12,1.387501,2.77,3.17,94.67,0.02,87.41,14.15,3.55,8.24,150.0,64.25,51375000000
6571,흥구석유(주),024060,2017/12,0.979314,2.60,2.97,94.93,0.07,87.29,8.68,1.67,7.20,142.0,50.10,41625000000
6572,흥구석유(주),024060,2018/12,-5.888978,3.06,3.38,95.00,-0.01,93.67,11.59,4.39,8.08,163.0,72.83,40575000000
6573,흥구석유(주),024060,2019/12,11.242454,10.44,11.25,94.86,-0.12,92.04,21.47,3.45,6.91,570.0,33.38,80400000000

In [118]:
merge_df.to_csv('./datasets/투자/KOSDAQ_DATA(투자).csv')

# 3년연속 흑자기업 선별 + 시가총액 컬럼 생성 완료